<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/hotels">Hotel</a>
            <% if (name) { %>
                <a class="nav-link" href="/customers/reservation">ReservationList</a>
                <a class="nav-link">Hi, <%= name %>!</a>
                <a class="nav-link" href="/customers/logout">Logout</a>
            <% } else { %>
            <a class="nav-link" href="/customers/register">Register</a>
            <a class="nav-link" href="/customers/login">Login</a>
            <% }  %>
        </div>
    </div>
</nav>