<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotels">Hotels</a>
            </li>
            <% if (name) { %>
            <li class="nav-item">
                <a class="nav-link" href="/customers/reservation">ReservationList</a>
            </li>
            <% } %>
        </ul>
        <% if (name) { %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= name%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/customers/logout">Logout</a>
                    </div>
                  </li>
            </ul>
        <% } else { %>
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="/customers/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers/login">Login</a>
                </li>
            </ul>
        <% }  %>   
    </div>
</nav>