body {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.navbar .nav-right {
    float: right;
}

a:hover {
    text-decoration: none;
}
.mb-3:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rating {
    font-weight: bold;
    color: white;
}
.box-rating {
    background-color: cornflowerblue;
    padding: 10px;
    margin: 20px;
}

.card-img {
    margin: 10px;
}

.card-body {
    text-align: left;
    margin-left: 20px;
}

.card-title {
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}
.card-title:hover{
    color: rgb(46, 83, 151);
}

.card-city {
    font-weight: bold;
}
.card-rating {
    font-weight: bold;
    color: rgb(255, 174, 0);
}
.card-rating2 {
    font-size: small;
}
.card-footer {
    border: 0;
    font-weight: bold;
    font-size: 18px;
    color: orange;
}
.card-review {
    border-radius: 0;
    border: none;
}
.h-100 {
    border: 0;
}

.form-group{
    text-align: left;
}

.btn-checkin {
    margin: 5px;
}
.container {
    width: 50%;
    margin-top: 9%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.booking-list {
    font-size: 14px;
}

